@font-face {
    font-family: "OpenSans";
    src: url("../../assets/fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("../../assets/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("../../assets/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("../../assets/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

html,
body {
  height: 100%;
}

#root{
    font-family: "OpenSans";
    font-size: .875rem;
    font-weight: normal;
    line-height: 1.5;
    color: #6c757d;
    text-align: left;
    background-color: #fafbfe;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    margin-top: 160px;
    flex: 1;
    text-align: center;
}