h1{
    color: #0b028b;
    font-weight: 400;
    margin-bottom: 1rem;
}

.veiculo-img{
    max-height: 185px;
}

.info{
    text-align: start;
    margin-top: 2rem;
}

h4{
    background-color: #999;
    color: white;
    width: fit-content;
    padding: .5rem 2rem;
    text-transform: uppercase;
    font-weight: 400;
}

.info ul{
    margin-bottom: 1rem;
    list-style: initial;
    padding-left: 1.5rem;
    font-weight: bold;
}

span{
    color: #F2A007;
    font-weight: bolder;
}

h2{
    text-transform: uppercase;
    color: #F2A007;
}
